// .ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
//     padding: 24px; 
// }
.ant-steps {
    padding: 24px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.first-form {
    width: 80%;
    margin: 0 auto;
}